name: Continuos Delivery

on:
    workflow_dispatch:
    # workflow_run:
    #     workflows: ["Continuos Integration"]
    #     types:
    #         - completed

jobs:
    deploy-on-vm:
        name: Deploy/Update image on vm
        runs-on: ubuntu-latest
        steps:
            - name: Setup SSH key
              run: |
                  mkdir -p ~/.ssh
                  echo "${{ secrets.VM_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
                  chmod 600 ~/.ssh/id_rsa
                  ssh-keyscan -H ${{ secrets.VM_IP }} >> ~/.ssh/known_hosts

            - name: Deploy to VM
              run: |
                  ssh -i ~/.ssh/id_rsa ${{ secrets.VM_USER }}@${{ secrets.VM_IP }} << 'EOF'
                  echo  "hello" > hello.txt
                  EOF
