name: Continuos Delivery

on:
    workflow_run:
        workflows: ["Continuos Integration"]
        types:
            - completed

jobs:
    deploy-on-vm:
        name: Deploy/Update image on vm
        runs-on: ubuntu-latest
        steps:
            - name: Setup SSH key
              run: |
                  mkdir -p ~/.ssh
                  echo "${{ secrets.VM_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
                  chmod 600 ~/.ssh/id_rsa
                  ssh-keyscan -H ${{ secrets.VM_IP }} >> ~/.ssh/known_hosts

            - name: Deploy to VM
              run: |
                  ssh -i ~/.ssh/id_rsa ${{ secrets.VM_USER }}@${{ secrets.VM_IP }} << 'EOF'
                  docker pull shubhsaini/wallet-app:${{ github.event.workflow_run.head_sha }}

                  docker stop wallet-app || true
                  docker rm wallet-app || true
                  docker image prune -a -f

                  docker run -d --name wallet-app -p 3000:3000 --restart unless-stopped shubhsaini/wallet-app:${{ github.event.workflow_run.head_sha }}
                  docker ps
                  EOF
