name: Continuos Integration

on:
  workflow_dispatch:
  # push:
  #   branches: [main]
  #   paths-ignore:
  #     - "terraform/**"
  #     - "ansible/**"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.3

      - name: Install Dependencies
        run: bun install

      - name: Build project
        id: build
        run: bun run build

      - name: Bun build status
        if: steps.build.outcome == 'failure'
        run: exit 1

  build-and-push:
    name: Docker scan, build and push
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: shubhsaini/wallet-app:${{ github.sha }}

      - name: Run Trivy vulnerability scanner (always pass)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: shubhsaini/wallet-app:${{ github.sha }}
          format: table
          exit-code: "0"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"

      - name: Push Docker image
        run: docker push shubhsaini/wallet-app:${{ github.sha }}
